@import "../../sass/main.scss";

.header {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
  left: 0;
  margin: auto;
  max-width: 1440px;
  right: 0;
}

.nav-header {
  align-items: center;
  display: flex;
  gap: 40px;
  margin: 0 20px;
  .nav-menu {
    display: flex;
    gap: 32px;
    a {
      @include link-hover($first-color, $back-color, 2px);
      color: $first-color;
      font-size: 1.05rem;
      text-decoration: none;
    }
  }
}

.signin {
  align-items: center;
  display: flex;
  gap: 23px;
  margin: 0 32px;
  
  a {
    @include link-hover($first-color, $back-color, 2px);
    color: $first-color;
    font-size: 0.89rem;
    margin-top: 10px;
    text-decoration: none;
  }
  .btn {
    @include btn-sample($primary-color);
  }
}

@include breakpoint($tablet-screen) {
  .nav-header {
    .nav-menu {
      display: none;
    }
  }
}

@include breakpoint($mobile-screen) {
  .signin {
    margin: 0 16px;
    a {
      display: none;
    }
  }
}
