@import "../../sass/main.scss";

.news {
  align-items: center;
  background-color: $first-color;
  border: 1px solid #dfdfdf;
  display: flex;
  gap: 32px;
  height: 114px;
  justify-content: center;
  .info-news {
    align-items: center;
    display: flex;
    a {
      margin: 2px;
    }
    p {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
    }
  }
}

@include breakpoint($tablet-screen) {
  .news {
    flex-direction: column;
    gap: 12px;
    height: 216px;
    .info-news {
      flex-direction: column;
      gap: 12px;
      height: 216px;
    }
  }
}

@include breakpoint($mobile-screen) {
  .info-news {
    p {
      font-size: 0.89rem;
      line-height: 1.3rem;
    }
  }
}
