// colors
$first-color: #fff;
$back-color: #000;
$primary-color: #00a870;
$secondary-color: #5e20a4;
$section-text-color: #3d3d3d;

// screen size
$tablet-screen: 930px;
$mobile-screen: 480px;

// breakpoints
@mixin breakpoint($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// styles
@mixin btn-sample($color) {
  background-color: $color;
  border-radius: 4px;
  border: none;
  color: $first-color;
  cursor: pointer;
  font-size: 0.89rem;
  overflow: hidden;
  padding: 12px 21px;
  position: relative;
  &:hover {
    transform: scale(0.98);
    box-shadow: inset 0 0 19px 8px rgb($back-color, 0.2);
  }
  &:active {
    transform: scale(0.96);
  }
}

@mixin dual-column {
  color: $section-text-color;
  display: flex;
  justify-content: center;
  .sec-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    h1 {
      font-size: 1.75rem;
      font-weight: 500;
      line-height: 2rem;
    }
  }
  img {
    width: 70vw;
  }
}

@mixin dual-tablet {
  margin: 64px 10vw;
  text-align: center;
  .sec-text {
    h1 {
      font-size: 1.375rem;
    }
  }
  img {
    width: 70vw;
  }
}

@mixin dual-mobile {
  margin: 64px 4.5vw;
  .sec-text {
    p {
      margin: 16px 0 24px;
    }
  }
}

@mixin single-column {
  align-items: center;
  color: $section-text-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  .sec-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@mixin single-tablet {
  margin: 64px;
  h1 {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
  }
}

@mixin single-mobile {
  margin: 64px 4.5vw;
}

// interactions

@mixin link-hover($color, $shadow, $size) {
  &:hover {
    color: $color;
    text-decoration: none;
    text-shadow:  0 0 10px $shadow;
    transform: scale(1.05);
    transition: 0.2s;
  }
}
